<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!--  <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--Navigation bar-->
<nav th:fragment="menu(n)" class="ui attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui secondary stackable menu">
            <h2 class="ui teal header item">管理ページ</h2>
            <a href="#" th:href="@{/admin/articleMgmt}" class=" m-item item m-mobile-hide"><i class="home icon"></i>記事</a>
            <a href="#" th:href="@{/admin/typeMgmt}" class=" m-item item m-mobile-hide"><i class="idea icon"></i>カテゴリ</a>
            <a href="#" th:href="@{/admin/tagMgmt}" class="m-item item m-mobile-hide"><i class="tags icon"></i>タグ</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://s3.bmp.ovh/imgs/2022/08/17/4f9a6253fe6fd4fa.jpg" >
                        <span >Mugencai</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">ログアウト</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>

<!--Navigation bar-->





<!--底部footer-->
<footer th:fragment="footer" class="ui vertical segment m-padded-tb-mini m-shadow-small">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">© <span th:text="${#dates.year(#dates.createNow())}">2022</span> mugencai</p>
    </div>
</footer>






<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="../../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <script src="../../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <!--  <script src="../../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>-->
    <script>
        $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
    </script>

</th:block>



</body>
</html>