<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>种类</title>
</head>
<body>
<!--用模板引擎从后台拿types，再循环types依次显示type-->
<!--在该页面对type实现删改-->

<div class="container">
    <div class="row">
        <div class="col-md-4 column">
            <!--toTypeInput-->
            <a th:href="@{/admin/typeInput}">新增类别</a>
        </div>
    </div>
</div>

<h1>种类展示</h1>
<div class="row clearfix">
    <div class="col-md-12 column">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>种类编号</th>
                <th>种类名字</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="type:${typeList}">
                    <td th:text="${type.id}"></td>
                    <td th:text="${type.name}"></td>
                    <td>
                        <a th:href="@{/admin/typeUpdate/{id}(id=${type.id})}">更改</a>
                        <a th:href="@{/admin/deleteType/{id}(id=${type.id})}" >删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>