<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>




<!--<h2>首页文章展示</h2>-->
<!--<a th:href="@{/index}">首页文章展示</a>-->
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <td>标题</td>-->

<!--                <td>描述</td>-->
<!--                <td>作者</td>-->
<!--                <td>更新日期</td>-->
<!--                <td>浏览量</td>-->
<!--                <td>首图</td>-->
<!--                <td>种类名称</td>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody th:each="article:${articleList}">-->
<!--            <tr>-->
<!--                <td><a th:text="${article.title}" th:href="@{/article/{id}(id=${article.id})}" target="_blank"></a><br></td>-->
<!--                <td th:text="${article.description}"></td>-->
<!--                <td th:text="${article.user.username}"></td>-->
<!--                <td th:text="${#dates.format(article.updateTime,'yyyy-MM-dd')}"></td>-->
<!--                <td th:text="${article.views}"></td>-->
<!--                <td th:text="${article.firstPicture}"></td>-->
<!--                <td th:text="${article.type.name}"></td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--<h2>种类展示</h2>-->
<!--<a th:href="@{/type}">种类展示</a>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>类别</td>-->
<!--        <td>个数</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="type:${typeList}">-->
<!--    <tr>-->
<!--        <td th:text="${type.name}"></td>-->
<!--        <td th:text="(${type.articles}!=null) ? (${#arrays.length(type.articles)}) : 0"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<h2>标签展示</h2>-->
<!--<a th:href="@{/tag}">标签展示</a>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>标签</td>-->
<!--        <td>个数</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="tag:${tagList}">-->
<!--    <tr>-->
<!--        <td th:text="${tag.name}"></td>-->
<!--        <td th:text="(${tag.articles}!=null) ? (${#arrays.length(tag.articles)}) : 0"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<h2>最新推荐</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>推荐文章</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="recommendArticle:${listRecommendArticle}">-->
<!--    <tr>-->
<!--        <td th:text="${recommendArticle.title}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<h2>关于我</h2>-->
<!--<a th:href="@{/about}">关于我</a>-->


<!--中间内容-->
<div  class="m-container m-padded-tb-large animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
<!--                        <div class="right aligned column">-->
<!--                            &lt;!&ndash;                            取page对象中的总的数据条目&ndash;&gt;-->
<!--                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2> 篇-->
<!--                        </div>-->
                    </div>
                </div>

                <!--content-->
                <div class="ui attached  segment">
                    <!--博客列表数据 循环-->
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="article : ${articleList}">
                        <div class="ui middle aligned mobile reversed stackable grid" >
                            <div class="eleven wide column">
                                <!--标题链接-->
                                <!--标题，描述渲染-->
                                <h3 class="ui header" ><a href="#" th:href="@{/article/{id}(id=${article.id})}" target="_blank" class="m-black" th:text="${article.title}">你真的理解什么是财富自由吗?</a></h3>
                                <!--|${}......|这么写的目的是和前面的字符串连接-->
                                <p class="m-text" th:text="|${article.description}......|">正确做好任何一件事情的前提是清晰、正确地理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <!--作者头像，昵称-->
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" th:src="@{${article.user.avatar}}"  alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header" th:text="${article.user.username}">mugencai</a></div>
                                            </div>
                                            <!--更新时间-->
                                            <!--dates.format(blog.updateTime,'yyyy-MM-dd')先格式化，再确定格式化后的格式-->
                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(article.updateTime,'yyyy-MM-dd')}">2019-10-01</span>
                                            </div>
                                            <!--浏览次数-->
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${article.views}">2342</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--分类名称-->
                                    <!--log对象中type方法的name-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${article.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--博客的首图-->
                            <div class="five wide column">
                                <a href="#" th:href="@{/article/{id}(id=${article.id})}" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" th:src="@{${article.firstPicture}}"  alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <!--/*-->
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">mugencai</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">mugencai</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">mugencai</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">mugencai</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                                <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">mugencai</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005"  alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <!--*/-->
                </div>

                <!--footer-->
                <!--                分页功能-->
<!--                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">-->
<!--                    <div class="ui middle aligned two column grid">-->
<!--                        <div class="column">-->
<!--                            <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>-->
<!--                        </div>-->
<!--                        <div class="right aligned column">-->
<!--                            <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>

            <!--右边的top-->
            <div class="five wide column">

                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{type}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu" >
                            <!--循环种类和该种类的数量-->
                            <a href="#" th:href="@{/type/{id}(id=${type.id})}" target="_blank" class="item"  th:each="type : ${typeList}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.articles)}">13</div>
                            </a>

                            <!--/*-->
                            <a href="#" class="item">
                                思考与感悟
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <!--*/-->

                        </div>
                    </div>
                </div>

                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{tag/}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{/tag/{id}(id=${tag.id})}" target="_blank" th:each="tag : ${tagList}"  class="ui teal basic left pointing label m-margin-tb-tiny" >
                            <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.articles)}">23</div>
                        </a>
                        <!--/*-->

                        <a href="#"  class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论 <div class="detail">23</div>
                        </a>

                        <!--*/-->
                    </div>
                </div>


                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="recommendArticle:${listRecommendArticle}">
                        <a href="#" th:href="@{/article/{id}(id=${recommendArticle.id})}" target="_blank" class="m-black m-text-thin" th:text="${recommendArticle.title}">这是一篇博客</a>
                    </div>
                </div>

                <!--二维码-->
                <!--                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>-->
                <!--                <div class="ui centered card" style="width: 11em">-->
                <!--                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" >-->
                <!--                </div>-->
            </div>

        </div>
    </div>

</div>





<br>
<br>
<!--底部footer-->
<!--th:replace="_fragments :: footer"是指 -->
<!--_fragments.html页面的footer替换掉该页面的footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced " >最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">这是一篇博客</a>
                    <a href="#" class="item m-text-thin">这是一篇博客</a>
                    <a href="#" class="item m-text-thin">这是一篇博客</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：1946902163@qq.com</a>
                    <a href="#" class="item m-text-thin">QQ：1946902163</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、生活、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 mugencai Designed by mugencai</p>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>

