<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugencai.mapper.ArticleMapper">

  <insert id="addArticle" parameterType="Article">
    insert into t_blog (id, appreciation, commentabled, content, create_time, first_picture, flag, published, recommend,
                        share_statement, title, update_time, views, `description`, type_id, tag_ids)
    values (#{id}, #{appreciation}, #{commentabled}, #{content}, #{createTime}, #{firstPicture}, #{flag}, #{published}, #{recommend},
            #{shareStatement}, #{title}, #{updateTime}, #{views},#{description},#{typeId},#{tagIds});
  </insert>

  <delete id="deleteArticle" parameterType="int">
    delete
    from t_blog
    where id=#{id};
  </delete>

  <update id="updateArticle" parameterType="Article">
    update t_blog
    set appreciation=#{appreciation}, commentabled=#{commentabled}, content=#{content}, create_time=#{createTime}, first_picture=#{firstPicture}, flag=#{flag}, published=#{published}, recommend=#{recommend},
        share_statement=#{shareStatement}, title=#{title}, update_time=#{updateTime}, views=#{views},`description`=#{description}, type_id=#{typeId}, tag_ids=#{tagIds}
    where id=#{id};
  </update>

  <select id="getArticle" resultType="Article" parameterType="int">
    select *
    from t_blog
    where id=#{id};
  </select>

  <select id="listArticle" resultMap="article">
    select b.id, t.id, b.title, t.name,  b.recommend, b.published,  b.create_time, b.update_time
    from t_blog b, t_type t
    where b.type_id = t.id order by b.update_time desc;
  </select>
  <resultMap id="article" type="Article">
    <result property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="recommend" column="recommend"/>
    <result property="published" column="published"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <association property="type" javaType="Type">
      <result property="id" column="id"/>
      <result property="name" column="name"/>
    </association>
  </resultMap>

</mapper>